################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vscode
/.vs
/atm_10_pack/.eclipse
/atm_10_pack/.gradle
/atm_10_pack/.mcreator
/atm_10_pack/build
/atm_10_pack/bin
/atm_10_pack/obj 